*{
    background-image: url(/img/cyan.jpg);
}
.b{
    background: linear-gradient(lightblue,lightcyan,aliceblue,lightcyan,lightblue);
    background-size: cover;
    margin-right: 430px;
    min-height: 80vh;
    align-items: center;
}
.input{
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: 1px solid rgb(191, 255, 255);
}
.w{
    justify-content: space-between;
    text-decoration: none;
}