h1{
    width: 100%;
    height: 50px;
    background-color: lightblue;
    color:rgb(71, 71, 71);
    border: 1px solid cyan;
}
div{
    margin-left:300px ;
    margin-bottom: 300px;
    margin-top: 200px;
    width: 290px;
    height: 200px;
    padding:30px;
    background-color: lightblue;
    border:2px solid cyan;
    border-radius: 31px;
}
h2{
    color:rgb(71, 71, 71);
}

button,input{
    width: 300px;
    height: 40px;
    border: 1px solid cadetblue;
    border-radius: 34px;
    color:rgb(71, 71, 71);
    transition: .3s;
    
}
button:hover{
    background-color:black;
    color: white;
    border: 3px solid cadetblue;
    transition: .3s;
}
input:hover{
    border: 3px solid cadetblue;
    transition: .3s;
}